@import "variables";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-primary;
  //background: linear-gradient(180deg, #1F1F1F 0%, #004A6A 100%);
  line-height: 1.2;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $default-padding;
  padding-right: $default-padding;
}

h1 {
  font-weight: 500;
  font-size: 64px;
  color: $color-ash;
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
  font-size: 40px;
  color: $color-ash;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  color: $color-ash;
}

.bold {
  font-weight: bold;
}

.hero {
  position: relative;
  min-height: 30vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $main-size * 8;
  margin-bottom: $default-content-margin;
}

.hero__image {
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .6;
  height: 400px;
  width: 100%;
}

.hero__header {
  position: relative;
}
